<h1><%= @deck.title %></h1>
<p>Total questions: <%= @deck.questions.count %></p>
<p>Created by: <%= @deck.user.username %></p>
<p>Rounds played: <%= @deck.rounds.count %></p>
<%= button_to "Play", deck_rounds_path(@deck), method: :post, class: "btn btn-success" %>
